[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
numpy = "*"
matplotlib = "*"

[packages]
numpy = "*"
cached-property = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
